@import url('https://fonts.googleapis.com/css2?family=Borel&family=Meow+Script&family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Meow+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oranienbaum&display=swap');
@import "tailwindcss";

html {
  scroll-padding-top: 125px; 

  scroll-behavior: auto;

}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}

.hero-content {
  position: absolute;
  bottom: 50%;
  left: 15%;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
 font-family: "Oranienbaum", serif;
  animation: fadeInUp 1s ease forwards;
}

.btn {
   font-family: "Montserrat", sans-serif;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*  */
.search-bar {
  display: flex;
  gap: 12px;
}

input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
 
  background: rgba(255,255,255,0.15);
  /* color: #f8be29; */
  color: gray;
}

input:focus {
  outline: none;
  background: rgba(255,255,255,0.18);
  /* border-image: linear-gradient(135deg,#00f2fe,#4facfe) 1; */
  /* box-shadow:
   0 0 10px rgba(246,195,170,0.7),
0 0 20px rgba(246,195,170,0.6),
 0 0 40px rgba(246,195,170,0.4); */

  transform: scale(1.03);
}
input::placeholder {
  color: #ccc;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  /* border: none; */
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.search-btn {
  background: #f6c3aa;
  color: rgb(153, 151, 151);
}

.clear-btn {
  background: rgba(255,255,255,0.2);
  color: white;
}

button:hover {
  transform: scale(1.05);
}

/* .history-div {
   margin-top: 0px;
  padding: 10px;
  border-radius: 8px;
  background: #ffffff;
  border:1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;

} */

.history-div:hover {
  background: rgba(255,255,255,0.25);
  transform: translateX(8px);
}

@media (max-width: 480px) {
  body {
    padding: 15px;
    align-items: center;
  }

  .search-card {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }

  .history-div {
    font-size: 14px;
    padding: 10px;
  }

  input::placeholder {
  color: #ccc;
  margin-left: 20px;
}
}

/* Bridal section */

/* .bridalImage {
  height: ;
} */


